.container {
    position: relative;
    height: 150px;
    width: 400px;
    background: white;
    padding: 10px;
    top: 95px;
    left: 200px;
    border-left: 20px solid black; /* ugly, change later*/
}

h1 {
    font-family: arial;
    margin: 5px;
}

hr {
    border: none;
    height: 1px;
    background:black;
}

p {
    font-family: arial;
}