.container {
	position:absolute;
    width: 960px;
    height: 690px;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

.titlePanel {
	position: relative;
	width: 960px;
	height: 50px;
	background-color: black;
	/*background-color: black; ? */
}

.titlePanel > h1 {
	position: absolute;
	color: black;
	font-family: arial;
	font-weight: normal;
	font-size: 20px;
	left: 10px;
}
.controls {
	position: relative;
	background-color: white;
	width: 950px;
	height: 80px;

}

.chatListDiv {
	position: relative;
	width: 950px;
	height: 560px;
	/* background-color: red; */
}
#roomsBtn {
	position: absolute;
	background-color:rgb(38, 58, 38);
	padding: 20px;
	left: 700px;
	top:10px;
	border: 1 px solid rgb(19, 19, 201);
	width:100px;
	color: white;
}
.roomsList {
	margin:0px;
	padding:0px;
	list-style:none;
	font-family: arial;
}

.roomsList > a {
	color: white; /*change later*/
	text-decoration: none;

}


.userName {
	position: absolute;
    font-family: arial;
    font-size: 20px;
    font-weight: normal;
    top: 25px;
    left: 80px;
    margin: 0;
}

.userPic {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 15px;
	left: 10px;
	background:black;
}

.userContainer {
	position: relative;
	background: rgb(51, 50, 50);
	height: 50px;
	width: 250px;
}

.userPicHolder {
	position: absolute;
    width: 50px;
    left: 10px;
    background: black; /* change*/
}

.userPicHolder > img {
	width: 50px;
	height: 50px;
}

.chatContainer {
	position: relative;
	width: 620x;
	/*height:20px;*/
	background: black;
	padding: 10px;
}

.titlePanel > h1 {
	position: absolute;
	/*color: white;*/
	font-family: arial;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
}

.chatContainer {

	position: relative;
	width: 620px;
	height:20px;
	background: black;
	padding: 10px;
	margin: 15px;
	min-height: 30px;

}

.chatMessage {
	position: relative;
	left: 40px;
	font-family: arial;
	font-size: 15px;
	width: 600px;

}

.chatMsg > img {
	margin:5px;
	border-radius:2px;
}
.userContainer {
	position: relative;
	background: rgb(51, 50, 50);
	height: 50px;
	width: 250px;
	margin-bottom: 1px;
}

.userName {
	position: absolute;
	font-family: arial;
	font-size: 20px;
	font-weight: normal;
	top: 20px;
	left: 45px;
	margin: 0;
}

#logOutBtn {
	position: absolute;
	background-color: rgb(68, 68, 228); /* darkred */
	padding: 20px;
	left: 830px;
	top:10px;
	width:90px;
	color:white;
	font-family:sans-serif;
	text-decoration: none;
	text-align: center;
}

#logOutBtn:hover {
	background-color: rgb(139, 0, 0); /*darkred*/
}

input[name='userInput'] { /* is this even ok, check*/
	position:absolute;
	padding: 25px;
	font-size: 22px;
	width: 540px;
	height: 25px;
	top: 0px;
	outline: 0px;
	left: 0px;
	border: none;
}



