/* login.html stylesheet */
.container {
	position:absolute;
	width: 350px;
	height: 210px;
	border:1px solid rgb(68, 67, 67);
	left:0;
	right:0;
	margin:auto;
}

.titlePanel {
	position: relative;
	width: 350px;
	height: 50px;
	background-color: black;
}

.titlePanel > h1 {
	position: absolute;
	color: white;
	font-family: arial;
	font-weight: normal;
	padding:0;
	top:15px;
	left: 10px;
}

.loginButton {
	position: relative;
	height: 150px;
}

#loginBtnImg {
	position: relative;
	top: 1px;
	width: 350px;
}