.container {
	position:absolute;
	margin:auto;
	border:1px solid black;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width: 460px;
	height: 560px;
}

.titlePanel {
	position: relative;
	width: 450px;
	height: 50px;
	background-color: solid black;
}

.titlePanel > h1 {
	position: absolute;
	color: white;
	font-family: arial;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	padding:0;
	top:15px;
	left: 10px;
}

.controls {
	position: relative;
	background-color:black;
	width: 450px;
	height: 70px;
	border-bottom: 1px solid black;
}
#createBtn {
	position: absolute;
	background-color: rgb(50, 87, 50);
	padding: 20px;
	left:325px;
	color:white;
	font-family:arial;
	text-align: center;
}
input[name='roomName'] {
	position:absolute;
	padding:16px;
	font-size:18px;
	width:280px;
	top:10px;
	left:10px;
}
.roomsListDiv {
	position: relative;
	width:460px;
	height: 370px;
}
.roomsList {
	margin:0px;
	padding:0px;
	list-style:none;
	font-family: arial;
}
.roomsList > a > li {
	padding: 20px;
	background-color: black;
	color: white;
	margin-bottom: 1px;
}
.roomsList > a {
	color: #FFF;
	text-decoration: none;
}

.userName {
	position: absolute;
    font-family: arial;
    top: 25px;
    left: 75px;
	margin: 0;
	font-size: 20px;
	font-weight: normal;
}

.userPicContainer {
	position: absolute;
	width: 50px;
	height: 50px;
    top: 10px;
    left: 10px;
	background: black;
}

.userPicContainer > img {
	width: 50px;
	height: 50px;
}

#logOutBtn {
	position: absolute;
	background-color: rgb(139, 0, 0);/*or darkred?*/
	left:330px;
	width:90px;
	color:white;
	font-family:arial;
	text-decoration: none;
	text-align: center;
	padding: 17px;
	left:330px;
	top:10px;
	text-decoration: none;
	text-align: center;
}
#logOutBtn:hover {
	background-color: rgb(129, 43, 43)
}
