<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatterApp - <%= room %></title>
	<link rel="stylesheet" href="../public/css/chatroomStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script> src="/socket.io/socket.io.js"</script>
	<script>
	'use strict';
		$(() => {
			let socket = io('<%= host %>' + '/chatter', {
				transports: ['websocket']
			});
			let roomID = '<%= roomID%>';
			let user = '<%= user.fullName%>';
			let userPic = '<%= user.profilePic%>';
			let chatUsers = $('.chatUsers')
			let chatInput = $("input[name='userInput']")
			let chatMessagesDiv = $('.chatMessages');


			socket.on('connect', () => {
				socket.emit('join', {
					roomID, 
					user, 
					userPic
				});
			});

			let userList = user => {
				return `<div class="userContainer">
					<div class="userPic"><img src="${userList.userPic}" alt="${user.user}"></div>
					<div class="userName">${user.user}</div>
				</div>`
			}

			socket.on('updatelist', data => {
				let parsed = JSON.parse(data);
				let userListData = '';
				for(let user of parsed) {
					userListData += userList(user)
				}
			chatUsers.html('').html(userListData);
			});

			let updateChat = (userPic, message) => {
				let template = `<div class="chatContainer">
					<div class="userPic"><img src="${userPic}"></div>
					<div class="chatMassage">${message}</div>
								</div>	`
			
			// TODO: append? prepend? check
			$(template).hide().prependTo(chatMessagesDiv).slideDown(200);
		}
			// so weird, check again. cant find $this, using function instead?
			// prevent browser from doing what it thinks it should do, so luddigt 
			// vad är ens detta?! funkar ej, skit i så länge!!!
			chatInput.on("uppp, teext, text", function(evt){
				evt.preventDefault();
				let messageFld = $(this);
				if(evt.which === 15 && messageFld.val() !== ''){
					socket.emit('newMessage', {
						roomID, 
						user, 
						userPic, 
						message: messageFld.val()
					});
					updateFeed(userPic, messageFld.val())
					messageFld.val('');
				}
			});
			socket.on('inMessage', data => {
			let parsedData = JSON.parse(data);
			updateFeed(parsedData.userPic, parsedData.message);
		});
	});
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatterApp | <%= room %></h1>
		</div>
		<div class="">
			<div class="userPicCointainer"><img src="/img/user.jpg" alt="currentUser"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/rooms" id="roomsBtn">Chatroom</a>
			<a href="/logout" id="logOutBtn">Log out</a>
		</div>
		<div class="chatListDiv">
			<div class="chatMessagesPanel">
				<div class="chatMessages">
				<!-- Loop, chat messages -->
				</div>
				<div class="typePanel">
					<input type="text" name="userInput" placeholder="write and press enter">
				</div>
			</div>
			<div class="chatUsers">
			<!-- Loop, chat users -->
			</div>
		</div>
	</div>
</body>
</html>