<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatterApp - Login</title>
	<link rel="stylesheet" href="../public/css/loginStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatterApp| Login</h1>
		</div>
		<div class="loginButton">
			<a href="/auth/facebook">
				<img id="loginBtnImg" src="/img/facebook.png" alt="Sign-In with Facebook">
			</a>

			<a href="/auth/google">
				<img id="loginBtnImg" src="/img/google.png" alt="Sign-In with google">
			</a>
		</div>
	</div>
</body>
</html>