<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatterApp - Rooms</title>
	<link rel="stylesheet" href="../public/css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		'use strict'
			$(() => {
				//not route, socket pipeline thingy
				//TODO: change hardcoded to ejs call to host 65
				let socket = io('<% = host %=>' + '/roomslist', { //('http://localhost:3000/roomslist'); 
				transports: ['websocket']
			});
				//refers to create in creating rooms 
				let newRoomInput = $("input[name='roomName']");
				
				// ejs, bullshit.. trying it out
				let renderChatRooms = chatrooms => {
					let roomsListDiv = $('#roomsListUL');
					let listStr = '';
					for (let chat of chatrooms) {
						listStr += `<a href="/chat/${chat.roomsID}"><li>${chat.rooms}</li></a>`;
					}
					roomsListDiv.html('').append(listStr);

				
				}
				//"trigger" server
				 socket.emit('getChatrooms');
				
				
				// socket.on('connect', () => console.log('connected to server?'))
				socket.on('chatroomsList', chatrooms => {
					renderChatRooms(JSON.parse(chatrooms));
				});
				//refers to create in creating rooms 
				$('#createBtn').on('click', () => {
					if(newRoomInput.val() !== ''){
						socket.emit('createNewRom', newRoomInput.val());
						newRoomInput.val('');
					}
				});
			});
		 
	</script>

</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatterApp - Select or Create a Chatroom</h1>
		</div>
		<div class="controls">
			<!-- check if facebookpic and name shows up -->
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div> 
			<p class="userName"><%= user.fullName %></p>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
			<input type="text" name="roomName" placeholder="Create a new Chatroom">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="roomsListUL">
			<!-- Loop chatthingys here
				<a href="chatroom.htm"><li>Djur</li></a>
				<a href="chatroom.htm"><li>Blommor och växter</li></a>
			 Loop ends -->
			</ul>
		</div>
	</div>
</body>
</html>